.card-wrapper {
    .card-content {
        height: 25%;
        padding: 16px 17px 0px 0;

        .card-quote {
            font-family: 'Tiro Devanagari Hindi';
            font-weight: 400;
            font-size: 34px;
            color: #ffffff;
        }

        .card-author {
            font-family: 'Tiro Devanagari Hindi';
            font-weight: 400;
            font-size: 22px;
            color: #ffffff;
            font-style: italic;
        }

    }

    .card-image {
        height: 75%;
    }
}