.card-wrapper {
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        padding: 17px 17px 10px 0;

        .card-quote {
            font-family: 'Tiro Devanagari Hindi';
            font-weight: 400;
            font-size: 34px;
            color: #ffffff;
        }

        .card-author {
            font-family: 'Tiro Devanagari Hindi';
            font-weight: 400;
            font-size: 22px;
            color: #ffffff;
            font-style: italic;
        }

    }

    .card-image img {
        border-radius: 11px 0 0 11px;
        height: 100%;
        clip-path: polygon(0 1%, 81% 0, 100% 100%, 0% 100%);

    }
}