.mySwiper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.left-gradient,
.right-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    /* Adjust the width for the gradient */
    pointer-events: none;
    /* Make sure it doesn’t block interactions */
    z-index: 1;
}

.left-gradient {
    left: 0;
    background: linear-gradient(90deg, #E0E0E0 26.5%, rgba(224, 224, 224, 0) 100%);

    // background: linear-gradient(90deg, #E0E0E0 26.5%, rgba(224, 224, 224, 0) 100%);

    // background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.right-gradient {
    right: 0;
    // background: linear-gradient(90deg, #E0E0E0 26.5%, rgba(224, 224, 224, 0) 100%);
    background: linear-gradient(90deg, rgba(224, 224, 224, 0) 0%, #E0E0E0 73.5%);
    // background: linear-gradient(90deg, #E0E0E0 26.5%, rgba(224, 224, 224, 0) 100%);


    // background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}